# Audio files
*.wav
*.mp3
*.flac
*.aiff
*.mkv

# Temp & cache
__pycache__/
*.log
*.tmp

# Python environment
.env
.venv
env/
venv/

# macOS system file
.DS_Store

# Local environment
interstellar_env/
